<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="../../assets/login.png" class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <i>
          <h2>Sign In</h2>
        </i>
        <form #log="ngForm" (ngSubmit)="onSubmit(log)">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="email">Email Address</label>
            <input #email="ngModel" required type="email" class="form-control form-control-lg" placeholder="Enter Email"
              name="email" autocomplete="off" ngModel email>
              <div *ngIf = "email.invalid && (email.dirty || email.touched)">

                <div class="alert alert-danger" *ngIf = "email.errors?.['required'] ">
                  Email id is Required.
                </div>
                <div class="alert alert-danger" *ngIf = "email.errors?.['email'] ">
                  Email id is Invalid.
                </div>
              </div>
          </div>


          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="psw">Password</label>
            <input #pass="ngModel" minlength="8" required type="password" class="form-control form-control-lg"
              placeholder="Enter Password" name="psw" ngModel>
            <div *ngIf="pass.touched && pass.invalid" class="alert alert-danger">
              <div *ngIf="pass.errors?.['required']">
                Password is required
              </div>
              <div *ngIf="pass.errors?.['minlength']">
                Password requires 8 Characters
              </div>
            </div>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button><br>
          <button routerLink="/reg" routerLinkActive="active" class="btn btn-link"><i>New User?</i></button>
        </form>
      </div>
    </div>
  </div>
</section>