<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid">
    <h1>Restaurant App</h1>
    <div class="d-flex">
      <button routerLink="/dash" class="btn btn-secondary">Dashboard</button>
    </div>
    <div class="d-flex">
      <button routerLink="/log" routerLinkActive="active" class="btn btn-danger">Logout</button>
    </div>
  </div>
</nav>

<div class="products" *ngIf="isProductOpen">
  <h2 class="text-center">Menu</h2>
  <hr>
  <table class="container text-center">

    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>

    <tr *ngFor="let x of homeItems">
      <td>{{x.Name}}</td>
      <td>{{x.description}}</td>
      <td>{{x.price}}</td>
      <td><button class="btn add btn-outline-success" (click)="addToCart(x)">Add to Cart</button></td>
    </tr>


  </table>
  <hr>
  <div class="container">
    <button (click)="openCart()" class="btn btn-outline-info btn-lg btn-block">My Cart</button>

  </div>
</div>

<div class="cart products" *ngIf="isCartOpen">
  <h2 class="text-center">My Cart</h2>
  <hr>
  <table class="container">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Qty</th>
    </tr>
    <tr *ngFor="let x of cartItems">
      <td>{{x.Name}}</td>
      <td>{{x.price}}</td>
      <td>{{x.qnt}}</td>
      <td><button (click)="increase(x)" class="btn btn-outline-success">+</button> </td>
      <td><button (click)="decrease(x)" class="btn btn-outline-danger">-</button></td>
    </tr>
    <tr>Total Amount : {{totalAmt}}</tr>
  </table>
  <hr>
  <div class="container">
    <button class="btn" (click)="openHome()" class="btn btn-primary">Menu</button>
  </div>
</div>